.texto_grande {
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 44px;
	line-height: 44px;
}

.texto_menor {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 36px;
}